.skip_nav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 99999999999999;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #666;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus {
    top: 100px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
    color: #fff;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding: 0 50px;
}
header h1 {
    margin-top: 17px;
    width: 134px;
    height: 38px;
}
header .logo a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 100%;
    height: 100%;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
header .gnb {
    display: flex;
    position: relative;
}
header .gnb .gnb_open {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    font-size: 0;
    line-height: 0;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_160_861' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_160_861)'%3E%3Cpath d='M1.97059 22C1.69559 22 1.46513 21.8724 1.27921 21.6171C1.09307 21.3621 1 21.0459 1 20.6685C1 20.2913 1.09307 19.9753 1.27921 19.7203C1.46513 19.4656 1.69559 19.3383 1.97059 19.3383H22.0294C22.3044 19.3383 22.5349 19.4658 22.7208 19.7207C22.9069 19.976 23 20.2924 23 20.6698C23 21.0469 22.9069 21.363 22.7208 21.618C22.5349 21.8727 22.3044 22 22.0294 22H1.97059ZM11.1373 13.3311C10.8623 13.3311 10.6318 13.2034 10.4459 12.9482C10.2597 12.6929 10.1667 12.3767 10.1667 11.9996C10.1667 11.6221 10.2597 11.3061 10.4459 11.0514C10.6318 10.7964 10.8623 10.6689 11.1373 10.6689H22.0294C22.3044 10.6689 22.5349 10.7966 22.7208 11.0518C22.9069 11.3071 23 11.6233 23 12.0004C23 12.3779 22.9069 12.6939 22.7208 12.9486C22.5349 13.2036 22.3044 13.3311 22.0294 13.3311H11.1373ZM4.72059 4.66173C4.44559 4.66173 4.21513 4.53424 4.02921 4.27926C3.84307 4.02399 3.75 3.70763 3.75 3.3302C3.75 2.95306 3.84307 2.637 4.02921 2.38202C4.21513 2.12734 4.44559 2 4.72059 2H22.0294C22.3044 2 22.5349 2.12764 22.7208 2.38291C22.9069 2.63789 23 2.95409 23 3.33153C23 3.70867 22.9069 4.02473 22.7208 4.27971C22.5349 4.53439 22.3044 4.66173 22.0294 4.66173H4.72059Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
header .gnb .gnb_wrap {
    display: flex;
}
header .gnb .gnb_close {
    display: none;
}
header .gnb .gnb_wrap .depth1 {
    display: flex;
    margin-right: 70px;
}
header .gnb .gnb_wrap .depth1 > li {
    position: relative;
}
header .gnb .gnb_wrap .depth1 > li > a {
    font-size: 20px;
    line-height: 70px;
    margin: 0 48px 0 48px;
    position: relative;
}
header .gnb .gnb_wrap .depth1 > li > a::after {
    position: absolute;
    top: 13px;
    right: -51px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.7);
    content: "";
}
header .gnb .gnb_wrap .depth1 > li:last-child > a::after {
    display: none;
}
header .gnb .gnb_wrap .depth1 > li:hover .depth2 {
    display: flex;
    background-color: #fff;
}
header .gnb .gnb_wrap .depth2 {
    display: none;
    position: absolute;
    top: 60px;
    right: 20%;
}
header .gnb .gnb_wrap .depth2 li a {
    display: block;
    color: #666;
    line-height: 49px;
    margin: 0 20px;
}
header .gnb .gnb_wrap .depth2 li a:hover {
    color: var(--color-main);
}
header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
    display: flex;
}
header .gnb .gnb_wrap .mypage {
    font-size: 0;
    line-height: 0;
    margin: 22px 40px 0 0;
}
header .gnb .gnb_wrap .mypage a {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_160_858' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_160_858)'%3E%3Cpath d='M5.235 17.61C6.17 16.895 7.215 16.3313 8.37 15.9188C9.525 15.5063 10.735 15.3 12 15.3C13.265 15.3 14.475 15.5063 15.63 15.9188C16.785 16.3313 17.83 16.895 18.765 17.61C19.4067 16.8583 19.9063 16.0058 20.2638 15.0525C20.6213 14.0992 20.8 13.0817 20.8 12C20.8 9.56167 19.9429 7.48542 18.2288 5.77125C16.5146 4.05708 14.4383 3.2 12 3.2C9.56167 3.2 7.48542 4.05708 5.77125 5.77125C4.05708 7.48542 3.2 9.56167 3.2 12C3.2 13.0817 3.37875 14.0992 3.73625 15.0525C4.09375 16.0058 4.59333 16.8583 5.235 17.61ZM12 13.1C10.9183 13.1 10.0063 12.7288 9.26375 11.9863C8.52125 11.2438 8.15 10.3317 8.15 9.25C8.15 8.16833 8.52125 7.25625 9.26375 6.51375C10.0063 5.77125 10.9183 5.4 12 5.4C13.0817 5.4 13.9938 5.77125 14.7363 6.51375C15.4788 7.25625 15.85 8.16833 15.85 9.25C15.85 10.3317 15.4788 11.2438 14.7363 11.9863C13.9938 12.7288 13.0817 13.1 12 13.1ZM12 23C10.4783 23 9.04833 22.7113 7.71 22.1338C6.37167 21.5563 5.2075 20.7725 4.2175 19.7825C3.2275 18.7925 2.44375 17.6283 1.86625 16.29C1.28875 14.9517 1 13.5217 1 12C1 10.4783 1.28875 9.04833 1.86625 7.71C2.44375 6.37167 3.2275 5.2075 4.2175 4.2175C5.2075 3.2275 6.37167 2.44375 7.71 1.86625C9.04833 1.28875 10.4783 1 12 1C13.5217 1 14.9517 1.28875 16.29 1.86625C17.6283 2.44375 18.7925 3.2275 19.7825 4.2175C20.7725 5.2075 21.5563 6.37167 22.1338 7.71C22.7113 9.04833 23 10.4783 23 12C23 13.5217 22.7113 14.9517 22.1338 16.29C21.5563 17.6283 20.7725 18.7925 19.7825 19.7825C18.7925 20.7725 17.6283 21.5563 16.29 22.1338C14.9517 22.7113 13.5217 23 12 23Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .gnb .gnb_wrap .search {
    display: none;
}
header.menu_over .gnb .gnb_wrap .depth2 {
    display: block;
}
@media screen and (max-width:1300px){
    header {
        padding: 0 30px;
    }
    header h1 {
        width: 110px;
    }
    header .gnb .gnb_wrap .depth1 {
        display: none;
    }
}
@media screen and (max-width:768px){
    header {
        padding: 0 20px;
        height: 60px;
    }
    header h1 {
        width: 100px;
        margin-top: 12px;
    }
    header .gnb .gnb_open {
        width: 20px;
        height: 20px
    }
    header .gnb .gnb_wrap .mypage {
        margin-top: 19px;
    }
    header .gnb .gnb_wrap .mypage a {
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width:360px){
    header {
        padding: 0 20px;
        height: 45px;
    }

    header .gnb .gnb_open {
        width: 20px;
        height: 20px
    }
    header .gnb .gnb_wrap .mypage a {
        width: 20px;
        height: 20px;
    }
}

footer {
    padding: 90px 0 100px 0;
}
footer .footer_top {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-bottom: 1px solid #aaa;
    padding-bottom: 25px;
}
footer .footer_top .f_info span.tit {
    color: var(--color-main);
    font-family: var(--tit-fontfamily);
    font-size: var(--tit-txt-size);
    line-height: var(--tit-lineheight);
}
footer .footer_top .f_info address {
    margin: 12px 0 7px 0;
}
footer .footer_top .f_info span {
    margin-right: 48px;
}
footer .footer_top .f_sns {
    position: relative;
}
footer .footer_top .f_sns ul {
    display: flex;
    position: absolute;
    right: 0;
    bottom: -4px;
}
footer .footer_top .f_sns ul li {
    width: 33px;
}
footer .footer_top .f_sns ul li a {
    line-height: 0;
    font-size: 0;
    position: relative;
}
footer .footer_top .f_sns ul li a::before {
    position: absolute;
    left: 7px;
    bottom: 0;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
}
footer .footer_top .f_sns ul li.sns01 a::before {background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_112_6273' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Cpath d='M25.5074 0H0.492632C0.220559 0 0 0.220559 0 0.492632V25.5074C0 25.7794 0.220559 26 0.492632 26H25.5074C25.7794 26 26 25.7794 26 25.5074V0.492632C26 0.220559 25.7794 0 25.5074 0Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_112_6273)'%3E%3Cpath d='M3.94561 0H22.059C24.2347 0 26.0046 1.76982 26.0046 3.94561V22.059C26.0046 24.2347 24.2347 26.0046 22.059 26.0046H3.94561C1.76982 26.0046 0 24.2347 0 22.059V3.94561C0 1.76982 1.76982 0 3.94561 0Z' fill='%23AAAAAA'/%3E%3C/g%3E%3Cpath d='M13.2688 4.15625C7.75858 4.15625 3.29297 7.68222 3.29297 12.0338C3.29297 14.7159 4.98981 17.0787 7.57613 18.5019C7.77683 18.6113 7.88174 18.8394 7.82244 19.0629L6.98314 22.1966C6.94665 22.3015 6.97402 22.4201 7.05613 22.4977C7.11086 22.5524 7.17929 22.5798 7.26139 22.5798C7.32069 22.5798 7.37999 22.5524 7.43472 22.5113L11.3256 19.884C11.426 19.8155 11.54 19.7927 11.6586 19.8064C12.1877 19.8748 12.726 19.9113 13.2733 19.9113C18.7835 19.9113 23.2491 16.3854 23.2491 12.0338C23.2491 7.68222 18.7835 4.15625 13.2733 4.15625' fill='white'/%3E%3Cpath d='M6.7958 11.278C6.7958 11.0044 6.57685 10.7854 6.30316 10.7854H5.71018C5.55966 10.7854 5.43194 10.7489 5.32246 10.6805C5.21299 10.6166 5.14913 10.5163 5.12176 10.3886C5.1172 10.3566 5.10808 10.3156 5.10352 10.2791C5.10352 10.1194 5.15825 9.99629 5.27229 9.90962C5.38632 9.82296 5.52773 9.77734 5.70106 9.77734H9.02176C9.17229 9.77734 9.30001 9.81383 9.40492 9.87769C9.51439 9.94612 9.57825 10.0419 9.60562 10.1696C9.61018 10.2061 9.61474 10.238 9.61474 10.2791C9.61474 10.4433 9.56001 10.5619 9.45053 10.6531C9.34106 10.7398 9.19966 10.7854 9.02632 10.7854H8.43334C8.15966 10.7854 7.94071 11.0044 7.94071 11.278V14.5258C7.94071 14.7037 7.88597 14.8496 7.78106 14.9591C7.68071 15.0686 7.53474 15.1233 7.36141 15.1233C7.21545 15.1233 7.09685 15.0823 6.99194 15.0047C6.89159 14.9226 6.82773 14.8131 6.80036 14.6809C6.79123 14.6307 6.78667 14.5805 6.79124 14.5258V11.278H6.7958Z' fill='%23AAAAAA'/%3E%3Cpath d='M9.89792 10.0479C9.94353 9.91557 10.0165 9.82434 10.1077 9.76961C10.199 9.71487 10.3176 9.6875 10.459 9.6875H10.7372C10.8877 9.6875 11.0109 9.71943 11.1112 9.77873C11.2116 9.83803 11.2937 9.95662 11.3484 10.1254L12.7351 14.144C12.7807 14.2671 12.8127 14.3766 12.8309 14.4633C12.84 14.5226 12.8491 14.5682 12.8537 14.6001C12.8537 14.7461 12.799 14.8693 12.6895 14.9696C12.5846 15.0745 12.4569 15.1201 12.3063 15.1201C12.0418 15.1201 11.8684 15.0107 11.7909 14.7917L11.6084 14.2489C11.54 14.0482 11.353 13.9159 11.1432 13.9159H9.99827C9.78844 13.9159 9.60142 14.0482 9.533 14.2489L9.35055 14.7917C9.27756 15.0107 9.10879 15.1201 8.83511 15.1201C8.70283 15.1201 8.58879 15.0882 8.49756 15.0152C8.40634 14.9468 8.34704 14.8464 8.31967 14.7187C8.31055 14.6822 8.31055 14.6412 8.31055 14.5956C8.31055 14.5363 8.31511 14.4679 8.34248 14.3857C8.36528 14.3036 8.39265 14.2215 8.42002 14.1394L9.90704 10.0479H9.89792ZM10.5912 10.9829H10.5776L10.1077 12.4471C10.0074 12.7664 10.2446 13.0903 10.5776 13.0903C10.9105 13.0903 11.1477 12.771 11.0474 12.4517L10.5912 10.9829Z' fill='%23AAAAAA'/%3E%3Cpath d='M13.0254 10.285C13.0254 10.1071 13.0801 9.96118 13.1805 9.85171C13.2808 9.74224 13.4222 9.6875 13.6001 9.6875C13.7461 9.6875 13.8693 9.72855 13.9696 9.8061C14.07 9.8882 14.1338 9.99311 14.1612 10.13C14.1703 10.1801 14.1749 10.2303 14.1703 10.2805V13.5282C14.1703 13.8019 14.3893 14.0208 14.6629 14.0208H16.0907C16.2457 14.0208 16.3735 14.0528 16.4784 14.1212C16.5833 14.1896 16.6471 14.29 16.6745 14.4131C16.6836 14.445 16.6882 14.4861 16.6928 14.5226C16.6928 14.6822 16.638 14.8054 16.524 14.8921C16.41 14.9787 16.2685 15.0243 16.0952 15.0243H13.7005C13.5226 15.0243 13.3766 14.9879 13.2671 14.9149C13.1577 14.8464 13.0847 14.7233 13.0482 14.5591C13.0345 14.4907 13.0254 14.4131 13.0254 14.3264V10.2759V10.285Z' fill='%23AAAAAA'/%3E%3Cpath d='M16.8032 10.285C16.8032 10.1071 16.8534 9.96118 16.9583 9.85171C17.0632 9.74224 17.2001 9.6875 17.378 9.6875C17.5239 9.6875 17.6471 9.72855 17.7429 9.8061C17.8432 9.8882 17.9071 9.99311 17.9345 10.13C17.9436 10.1801 17.9482 10.2303 17.9436 10.2805V10.7047C17.9436 11.1608 18.5092 11.3707 18.8103 11.0286L19.7499 9.9475C19.832 9.86083 19.905 9.79241 19.9689 9.75136C20.0373 9.71031 20.1148 9.6875 20.206 9.6875C20.3338 9.6875 20.4478 9.72399 20.5482 9.79241C20.6531 9.86083 20.7124 9.95206 20.7397 10.0707C20.7397 10.0707 20.7397 10.0935 20.7489 10.1163C20.7489 10.1345 20.7489 10.1528 20.7489 10.1664C20.7489 10.2486 20.7306 10.3215 20.6941 10.3854C20.6576 10.4493 20.612 10.5131 20.5573 10.577L19.6313 11.5896C19.4808 11.7538 19.458 11.9956 19.5766 12.1871L20.7717 14.0801L20.8127 14.1486C20.9085 14.2991 20.9632 14.4086 20.9769 14.4815C20.9769 14.4861 20.9769 14.4998 20.986 14.518C20.986 14.5363 20.986 14.55 20.986 14.5545C20.986 14.7598 20.9267 14.9057 20.8127 14.997C20.6987 15.0836 20.5573 15.1293 20.3931 15.1293C20.2745 15.1293 20.1832 15.111 20.1057 15.0654C20.0327 15.0198 19.9552 14.9377 19.8822 14.8145L18.8924 13.2226C18.7236 12.9489 18.3404 12.9079 18.1169 13.1405L18.0622 13.1952C17.9755 13.2864 17.9253 13.4096 17.9253 13.5373V14.5271C17.9253 14.705 17.8752 14.851 17.7748 14.9605C17.6699 15.07 17.5285 15.1247 17.3552 15.1247C17.2092 15.1247 17.086 15.0836 16.9857 15.0061C16.8853 14.924 16.8215 14.8145 16.7941 14.6822C16.785 14.6321 16.7804 14.5819 16.785 14.5271V10.2805L16.8032 10.285Z' fill='%23AAAAAA'/%3E%3C/svg%3E%0A");}
footer .footer_top .f_sns ul li.sns02 a::before {background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_140_7734)'%3E%3Cpath d='M20.1684 0H5.83165C2.34097 0 0 2.36406 0 5.58231V20.4177C0 23.6359 2.34097 26 5.83165 26H20.1684C23.659 26 26 23.6359 26 20.4177V5.58231C26 2.36406 23.659 0 20.1684 0Z' fill='%23AAAAAA'/%3E%3Cpath d='M13.0027 7.5174C12.3656 7.5174 11.7515 7.59589 11.1604 7.74826V6.33075C11.1604 6.29843 11.1604 6.26611 11.1512 6.23379C11.0358 4.67776 9.82143 3.52344 8.34389 3.52344C6.86636 3.52344 5.65201 4.67314 5.53658 6.23379C5.53196 6.26611 5.52734 11.5575 5.52734 11.5575V14.9974C5.52734 15.0205 5.52734 15.0436 5.52734 15.0713C5.56428 19.1668 8.89797 22.4774 13.0074 22.4774C17.1168 22.4774 20.4874 19.1299 20.4874 14.9974C20.4874 10.8649 17.1398 7.5174 13.0074 7.5174H13.0027ZM13.0027 21.3277C9.50745 21.3277 6.67243 18.4927 6.67243 14.9974V6.38616C6.67243 5.45347 7.42044 4.70085 8.34389 4.70085C9.26735 4.70085 10.0154 5.45347 10.0154 6.38616V14.9235C10.0154 16.5765 11.3498 17.9987 13.0074 17.9987C14.665 17.9987 16.004 16.655 16.004 15.002C16.004 13.349 14.6604 12.0054 13.0074 12.0054C12.3148 12.0054 11.673 12.2409 11.1651 12.638V11.3544C11.7191 11.0727 12.3425 10.9157 13.0074 10.9157C15.2652 10.9157 17.0937 12.7442 17.0937 15.002C17.0937 17.2599 15.2652 19.0883 13.0074 19.0883C10.7495 19.0883 8.92106 17.2599 8.92106 15.002V6.33075C8.92106 6.0491 8.66249 5.7813 8.34851 5.7813C8.03454 5.7813 7.77597 6.0491 7.77597 6.33075V14.9974C7.77597 15.1313 7.78059 15.2606 7.78982 15.3899C7.98836 18.1002 10.2508 20.2334 13.0074 20.2334C15.7639 20.2334 18.2434 17.8878 18.2434 14.9974C18.2434 12.107 15.8978 9.76141 13.0074 9.76141C12.3609 9.76141 11.7376 9.88146 11.1651 10.0939V8.93953C11.7468 8.76407 12.3656 8.66711 13.0074 8.66711C16.5027 8.66711 19.3377 11.5021 19.3377 14.9974C19.3377 18.4927 16.5027 21.3277 13.0074 21.3277H13.0027ZM11.1604 14.9974C11.1604 13.9816 11.9869 13.1551 13.0027 13.1551C14.0186 13.1551 14.845 13.9816 14.845 14.9974C14.845 16.0132 14.0186 16.8397 13.0027 16.8397C11.9869 16.8397 11.1604 16.0132 11.1604 14.9974Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_140_7734'%3E%3Crect width='26' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
footer .footer_top .f_sns ul li.sns03 a::before {background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.72644 0H21.2736C23.8805 0 26 2.11954 26 4.72644V21.0759C26 23.6828 23.8805 25.8023 21.2736 25.8023H4.72644C2.11954 25.8069 0 23.6874 0 21.0759V4.72644C0 2.11954 2.11954 0 4.72644 0Z' fill='%23AAAAAA'/%3E%3Cpath d='M18.4283 7.8096C17.8673 7.72684 15.1547 7.62109 13.003 7.62109C10.8512 7.62109 8.1386 7.72684 7.57768 7.8096C6.59837 7.96592 6.06503 8.4073 5.77997 9.54293C5.68342 9.92454 5.55469 12.0165 5.55469 12.8119V12.9866C5.55469 13.7866 5.68802 15.8786 5.77997 16.2602C6.06503 17.3958 6.59837 17.8326 7.57768 17.9935C8.1386 18.0763 10.8558 18.182 13.0122 18.182H13.003C15.1593 18.182 17.8719 18.0763 18.4328 17.9935C19.4122 17.8372 19.9455 17.4004 20.2305 16.2602C20.3271 15.8786 20.4558 13.7866 20.4558 12.9866V12.8119C20.4558 12.0165 20.3225 9.91994 20.2305 9.54293C19.9455 8.4027 19.4122 7.96592 18.4328 7.8096' fill='white'/%3E%3Cpath d='M11.6738 10.9922L15.2462 12.8589L11.6738 14.8129V10.9922Z' fill='%23AAAAAA'/%3E%3C/svg%3E%0A");}
footer .footer_sub {
    margin-top: 25px;
}
footer .footer_sub .f_nav {
    display: flex;
    justify-content: space-between;
}
footer .footer_sub .f_nav ul {
    display: flex;
}
footer .footer_sub .f_nav ul.f_nav01 li:first-child span {
    font-weight: var(--txt-bold);
    font-size: 18px;
}
footer .footer_sub .f_nav ul.f_nav01 li span {
    margin-right: 48px;
}
footer .footer_sub .f_nav ul.f_nav02 li a {
    margin-left: 48px;
}
footer .footer_sub .f_nav ul.f_nav02 li a strong {
    font-weight: var(--txt-bold);
}
footer .footer_sub .worker {
    text-align: right;
}
footer .footer_sub .worker span:first-child {
    display: inline-block;
    margin: 27px 0 5px 0;
    font-weight: var(--txt-bold);
}
footer .copyright {
    color: #ccc;
    margin-top: -20px;
}
@media screen and (max-width:1300px){
    footer {
        padding: 70px 0 80px 0;
    }
}
@media screen and (max-width:1000px){
    footer {
        padding: 50px 0 60px 0;
    }
    footer .footer_top .f_info span {
        margin-right: 30px;
    }
    footer .footer_sub .f_nav ul.f_nav01 {
        flex-direction: column;
        gap: 10px;
    }
}
@media screen and (max-width:768px){
    footer {
        padding: 40px 0 50px 0;
    }
    footer .footer_top .f_info span {
        margin: 5px 25px 0 0;
    }
    footer .footer_top .f_info span:last-child {
        display: block;
    }
    footer .footer_sub .f_nav ul.f_nav01 {
        gap: 5px;
    }
    footer .footer_sub .f_nav ul.f_nav01 li span {
        margin-right: 0;
    }
    footer .footer_sub .f_nav ul.f_nav01 li:first-child span {
        font-size: 16px;
    }
    footer .footer_sub .f_nav ul.f_nav02 li a {
        margin-left: 20px;
    }
    footer .footer_sub .worker {
        display: none;
    }
    footer .copyright {
        text-align: center;
        margin-top: 30px;
    }
}
@media screen and (max-width:500px){
    footer {
        text-align: center;
    }
    footer .footer_top {
        flex-direction: column;
        padding-bottom: 25px;
    }
    footer .footer_top .f_sns ul {
        position: relative;
        justify-content: center;
        margin-bottom: 20px;
    }
    footer .footer_top .f_sns ul li a::before {
        left: 50%;
        transform: translate(-50%, 0);
    }
    footer .footer_top .f_info address {
        margin: 5px 0 0 0;
    }
    footer .footer_top .f_info span {
        display: inline-block;
        margin: 3px 10px;   
    }
    footer .footer_sub .f_nav {
        flex-direction: column-reverse;
    }
    footer .footer_sub .f_nav ul {
        justify-content: center;
        margin-bottom: 20px;
    }
    footer .footer_sub .f_nav ul.f_nav01 {
        gap: 10px;
        margin-top: 30px;
    }
    footer .footer_sub .f_nav ul.f_nav02 li a {
        margin: 0 20px;
    }
    
}