@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

header.sub {
    border-bottom: none;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

header.sub .gnb {
    width: 1427px;
}

header.sub .gnb .gnb_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.sub .gnb .gnb_wrap .home a {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: var(--tit-fontfamily);
    line-height: 57px;
    width: 130px;
    color: var(--color-main-b05);
    border: 1px solid var(--color-main-b05);
    border-radius: 50%;
}

header.sub .gnb .gnb_wrap .home a:hover {
    color: #fff;
    background-color: var(--color-main-b);
    border: transparent;
}

header.sub .gnb .gnb_wrap .more a {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 59px;
    font-weight: 600;
    width: 160px;
    color: var(--color-main-b05);
    border: 1px solid var(--color-main-b05);
    border-radius: 50%;
    margin-right: 30px;
    position: relative;
}

header.sub .gnb .gnb_wrap .promotion_more {
    width: 175px;
}

header.sub .gnb .gnb_wrap .promotion_more a {
    display: none;
}

header.sub .gnb .gnb_wrap .more a:hover {
    color: #fff;
    background-color: var(--color-main-b);
}

header.sub .gnb .gnb_wrap .more a::after {
    position: absolute;
    right: -30px;
    top: 50%;
    width: 30px;
    height: 18px;
    transform: translate(0, -50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='18' viewBox='0 0 30 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.0788 9.5H0V8.5H28.0788L20.2865 0.70775L21 0L30 9L21 18L20.2865 17.2923L28.0788 9.5Z' fill='%235E83AF'/%3E%3C/svg%3E%0A");
}

header.sub .gnb .gnb_wrap ul li a {
    display: block;
}

header.sub .gnb .gnb_wrap ul li.active a {
    color: #fff;
    position: relative;
}

header.sub .gnb .gnb_wrap ul li.active a::after {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 138px;
    height: 59px;
    background-color: var(--color-main-b);
    border-radius: 50%;
    content: "";
}

header.sub .gnb .gnb_wrap ul li a {
    display: block;
    line-height: 100px;
    font-size: 20px;
    color: var(--color-main-b05);
}

.cts01 {
    margin-top: 100px;
    height: 850px;
    color: #fff;
}

.cts01 .wrapper {
    padding-top: 80px;
}

.cts01 .txt_top {
    display: flex;
    justify-content: space-between;
    font-family: var(--tit-fontfamily);
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 75px;
}

.cts01 .wrap {
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

.cts01 .wrap .txt h2 {
    font-size: 80px;
    margin: 70px 0 10px 0;
}

.cts01 .wrap .txt p {
    font-size: 18px;
}

.cts01 .wrap .photo {
    overflow: hidden;
    width: 75%;
    line-height: 0;
    font-size: 0;
}

.cts01 .wrap .photo img {
    object-fit: cover;
    width: 100%;
}

.cts02 .wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.cts02 .wrap .c02_01,
.cts02 .wrap .c02_02 {
    width: calc(50% - 12px);
}

.cts02 .wrap .c02_01 ul {
    display: flex;
    margin-top: 40px;
}

.cts02 .wrap .c02_01 ul li {
    text-align: center;
    font-weight: 700;
    width: 150px;
    line-height: 150px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-right: 40px;
}

.cts02 .wrap .c02_02 ul {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.cts02 .wrap .c02_02 ul li {
    text-align: center;
    width: 150px;
    line-height: 150px;
    color: #fff;
}

.cts02 strong {
    font-size: 35px;
    font-family: var(--tit-fontfamily);
    color: #aaa;
    text-decoration: underline var(--color-main-b05);
    text-decoration-thickness: 3px;
    text-underline-position: under;
}

.cts02 .c02_03 {
    margin: 110px 0 120px 0;
}

.cts02 .c02_03 .photo {
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    margin-top: 10px;
}

.cts02 .c02_03 .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cts02 .c02_04 .photo_wrap {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 150px 0;
    gap: 1em;
}

.cts02 .c02_04 .photo {
    overflow: hidden;
    line-height: 0;
    font-size: 0;
}

.cts02 .c02_04 .photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cts03 .photo {
    overflow: hidden;
    width: 100%;
    height: 100%;
    line-height: 0;
    font-size: 0;
}

.cts03 .photo img {
    object-fit: cover;
    width: 100%;
}

.cts_sakyejul01 {
    background: url(../images/contents/project_sakyejul01_bg.png) no-repeat center center / cover;
}

.cts_sakyejul02 .wrap .sakyejul02_01 ul li.keyword01 {
    color: #FDA9BD;
}

.cts_sakyejul02 .wrap .sakyejul02_01 ul li.keyword02 {
    color: #64BEF3;
}

.cts_sakyejul02 .wrap .sakyejul02_01 ul li.keyword03 {
    color: #FFCB41;
}

.cts_sakyejul02 .wrap .sakyejul02_02 ul li.color01 {
    background-color: #FDA9BD;
}

.cts_sakyejul02 .wrap .sakyejul02_02 ul li.color02 {
    background-color: #64BEF3;
}

.cts_sakyejul02 .wrap .sakyejul02_02 ul li.color03 {
    background-color: #5AE2B0;
}

.cts_sakyejul02 .wrap .sakyejul02_02 ul li.color04 {
    background-color: #FFCB41;
}

.cts_toursketch01 {
    background: url(../images/contents/project_toursketchl01_bg.png) no-repeat center center / cover;
}

.cts_toursketch02 .wrap .toursketch02_01 ul li.keyword01 {
    color: #17A951;
}

.cts_toursketch02 .wrap .toursketch02_01 ul li.keyword02 {
    color: #0052CC;
}

.cts_toursketch02 .wrap .toursketch02_01 ul li.keyword03 {
    color: #00A0FF;
}

.cts_toursketch02 .wrap .toursketch02_02 span {
    display: block;
    line-height: 150px;
    width: 150px;
    color: #fff;
    background-color: #17A951;
    text-align: center;
    margin-top: 40px;
}

.cts_main h2, .cts_popup h2 {
    font-family: var(--tit-fontfamily);
    font-size: 110px;
    text-align: center;
    margin-bottom: 15px;
    color: var(--color-main-b05);
}

.cts_main {
    margin-top: 200px;
}

.cts_main ul {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
}

.cts_main ul li .main {
    line-break: 0;
    font-size: 0;
    overflow: hidden;
}

.cts_main ul li .main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cts_popup {
    margin: 200px 0 120px 0;
}

.cts_popup .popup_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cts_popup ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cts_popup ul {
    flex-wrap: wrap;
}

.cts_popup ul li {
    width: calc(20% - 16px);
}

.cts_popup ul li .popup {
    line-break: 0;
    font-size: 0;
    overflow: hidden;
}

.cts_popup ul li .popup img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}